.result {
 display: flex;
}

.result__content {
 width: 75%;
 margin: 0 auto;
 align-self: center;
 display: flex;
 flex-direction: column;
}

.result p {
 color: var(--green);
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 line-height: 120%;
 margin-bottom: 16px;
}

 h2 {
 color: #1DB702;

 font-family: Inter;
 font-size: 54px;
 font-style: normal;
 font-weight: 800;
 line-height: 120%;
}

.result h2:not(:last-child) {
 margin-bottom: 78px;
}

.result span {
 font-size: 24px;
}